:root{
--color_darkBlue: hsl(240, 67%, 8%); 
--color_white: hsl(0, 0%, 100%);
--color--black:hsl(0, 0%, 0%);
--color_darkGrey: hsl(240, 17%, 26%);
--color_lightGrey: hsl(240, 6%, 54%);
--color_aqua:hsl(194, 48%, 49%);
--color_venus: #A34D28;
--color_earth: hsl(263, 67%, 51%);
--color_mars: hsl(10, 63%, 51%);
--color_jupiter: hsl(2, 68%, 53%);
--color_saturn: hsl(17, 73%, 46%);
--color_uranus:  hsl(168, 73%, 44%);
--color_neptune: hsl(222, 87%, 56%);
--color-selected:
}
body{
  font-size: 16px;
  font-family: 'Spartan',sans-serif;
  font-weight: 400;
  background-color: var(--color_darkBlue);
  background-image: url('../assets/background-stars.svg');
  color: var(--color_white);
  padding-bottom: 5em;
}
@media screen and (min-width:1024px) {
  body{
    padding-bottom: 2em;
  }
  body::-webkit-scrollbar{
    background-color: var(--color_darkBlue);
    width: 7px;
    border-radius: 5px;
  }
  body::-webkit-scrollbar-thumb{
    background-color: var(--color-selected);
    border-radius: 5px;
  }
}
.header{
  background-color: var(--color_darkBlue);
  background-image: url('../assets/background-stars.svg');
  background-repeat: no-repeat;
}
@media screen and (min-width:1024px) {
  .header{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,fr);
    grid-template-rows: 1fr;
    border-bottom: 1px solid var(--color_lightGrey);
  }
}
.header__box{
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__title{
  margin: 0;
  color: var(--color_white);
}
@media screen and (min-width:1024px) {
  .header__ham{
    display: none;
  }
}
.Nav{
  width: 100%;
  position: absolute;
  top: 112px;
  transform: scale(0);
  transition: transform 0.3s;
  z-index: 10;
}
.show{
  transform: scale(1);
}
@media screen and (min-width:1024px) {
  .Nav{
    position: static;
    transform: scale(1);
    grid-column: 2;
  }
}
.Nav__menu{
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color--black);
  background-image: url('../assets/background-stars.svg');
  background-position: 10px 10px;
}
@media screen and (min-width:1024px) {
  .Nav__menu{
    flex-direction: row;
    justify-content: space-evenly;
    background-color:  transparent;
  }
}
.Nav__item{
  line-height: 1.8em;
}

.Nav__link{
  text-decoration: none;
  color: var(--color_white);
}
.main__description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width:1024px) {
  .Nav__link:hover{
    border-bottom: 3px solid;
  }
  .Nav__link--mercury:hover{
    color: var(--color_mars);
  }
  .Nav__link--venus:hover{
    color: var(--color_venus);
  }
  .Nav__link--earth:hover{
    color: var(--color_earth);
  }
  .Nav__link--mars:hover{
    color: var(--color_mars);
  }
  .Nav__link--jupiter:hover{
    color: var(--color_jupiter);
  }
  .Nav__link--saturn:hover{
    color: var(--color_saturn);
  }
  .Nav__link--uranus:hover{
    color: var(--color_uranus);
  }
  .Nav__link--neptune:hover{
    color: var(--color_neptune);
  }
}
@media screen and (min-width:1024px) {
  .main__description{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    place-items: center;
  }
  .description{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    place-items: flex-start;
  }
  
}
.Image{
  margin-top: 4em;
  order: -1;
  width: 40%;
  text-align: center;
}
.Image-float{
  position: absolute;
  top: 23%;
  right: 17%;
  width: 30%;
  transform: rotate(-90deg);
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 0;
}
.show{
  opacity: 1;
}

@media screen and (min-width:1024px) {
  .Image{
    max-width: 50%;
    width: 70%;
  }
  .Image-float{
    width: 18%;
    left: 27%;
    top: 24%;
  }
}
.description__source{
  position: relative;
  text-align: center;
}
.description__options{
  position: absolute;
  top: 60px;
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 1px solid var(--color_lightGrey);
  border-bottom: 1px solid var(--color_lightGrey);
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (min-width:1024px) {
  .description__options{
    position: static;
    width: 80%;
    order: 0;
    flex-direction: column;
    border: none;
  }
  .overview{
    margin: 0;
    margin-left: -50px;
    width: 80%;
    padding: 1em;
    border: 1px solid var(--color_lightGrey);
    cursor: pointer;
  }
  .overview:hover{
    background-color: var(--color-selected);
  }
  .description__source{
    margin-left: 10px;
  }
}
.description__title{
  text-align: center;
}
@media screen and (min-width:1024px) {
  .description__title{
    font-size: 2.5rem;
  }
}
.description__info{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: var(--color_lightGrey);
  font-size: 0.8rem;
  line-height: 1.5em;
}
@media screen and (min-width:1024px) {
  .description__info{
    width: 80%;
    margin-left: 1%;
  }
}
.description__link{
  text-decoration: none;
  color: var(--color_white);
}
.description__img{
  position: absolute;
  top: -5px;
}
.link__underline{
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}
.information{
  margin-top: 150px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:1024px) {
  .information{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    gap: 20px;
  }
}
.box{
  padding-left: 0.6em;
  padding-right: 0.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color_lightGrey);
}
@media screen and (min-width:1024px) {
  .box{
    flex-direction: column;
  }
}
.information__para{
  color: var(--color_lightGrey);
  font-size: 0.8rem;
}
.information__data{
  text-align: right;
}
@media screen and (min-width:1024px) {
  .information__data{
    font-size: 1.8rem;
    align-self: flex-start;
  }
  .information__para{
    align-self: flex-start;
  }
}