:root{
--color_darkBlue: hsl(240, 67%, 8%); 
--color_white: hsl(0, 0%, 100%);
--color_darkGrey: hsl(240, 17%, 26%);
--color_lightGrey: hsl(240, 6%, 54%);
--color_aqua:hsl(194, 48%, 49%);
--color_venus: #A34D28;
--color_earth: hsl(263, 67%, 51%);
--color_mars: hsl(10, 63%, 51%);
--color_jupiter: hsl(2, 68%, 53%);
--color_saturn: hsl(17, 73%, 46%);
--color_uranus:  hsl(168, 73%, 44%);
--color_neptune: hsl(222, 87%, 56%);
}
body{
  font-size: 16px;
  font-family: 'Spartan',sans-serif;
  font-weight: 400;
}