:root{
--color_darkBlue: hsl(240, 67%, 8%); 
--color_white: hsl(0, 0%, 100%);
--color--black:hsl(0, 0%, 0%);
--color_darkGrey: hsl(240, 17%, 26%);
--color_lightGrey: hsl(240, 6%, 54%);
--color_aqua:hsl(194, 48%, 49%);
--color_venus: #A34D28;
--color_earth: hsl(263, 67%, 51%);
--color_mars: hsl(10, 63%, 51%);
--color_jupiter: hsl(2, 68%, 53%);
--color_saturn: hsl(17, 73%, 46%);
--color_uranus:  hsl(168, 73%, 44%);
--color_neptune: hsl(222, 87%, 56%);
}
body{
  font-size: 16px;
  font-family: 'Spartan',sans-serif;
  font-weight: 400;
  background-color: var(--color_darkBlue);
  background-image: url('../assets/background-stars.svg');
  color: var(--color_white);
  padding-bottom: 5em;
}
.header{
  background-color: var(--color_darkBlue);
  background-image: url('../assets/background-stars.svg');
  background-repeat: no-repeat;
}
.header__box{
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__title{
  margin: 0;
  color: var(--color_white);
}
.Nav{
  width: 100%;
  position: absolute;
  top: 112px;
  transform: scale(0);
  transition: transform 0.3s;
}
.show{
  transform: scale(1);
}
.Nav__menu{
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color--black);
  background-image: url('../assets/background-stars.svg');
  background-position: 10px 10px;
}
.Nav__item{
  line-height: 1.8em;
}
.Nav__link{
  text-decoration: none;
  color: var(--color_white);
}
.main__description{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Image{
  margin-top: 2.5em;
  order: -1;
  width: 40%;
  text-align: center;
}
.description__source{
  position: relative;
}
.description__options{
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 1px solid var(--color_lightGrey);
  border-bottom: 1px solid var(--color_lightGrey);
  align-items: center;
  justify-content: space-evenly;
  order: -1;
}
.description__info{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: var(--color_lightGrey);
  font-size: 0.8rem;
  line-height: 1.5em;
}
.description__link{
  text-decoration: none;
  color: var(--color_white);
}
.description__img{
  position: absolute;
  top: -5px;
  right: -30px;
}
.link__underline{
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}
.information{
  margin-top: 50px;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
.box{
  padding-left: 0.8em;
  padding-right: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color_lightGrey);
}
.information__para{
  color: var(--color_lightGrey);
  font-size: 0.8rem;
}
.information__data{
  text-align: right;
}